
.chonky-chonkyRoot {
    font-family: "Helvetica Neue", sans-serif !important;
}

.chonky-listFileEntryIcon {
    margin-left: 20px;
}

.chonky-listFileEntry {
    box-shadow: none !important;
    background-color: #F7F8FE;
    border: none !important;
}

.chonky-fileEntryClickableWrapper {
    color: rgb(71 62 125);
}